{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":1,"column":16},"end":{"row":2,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":2,"column":0},"end":{"row":8,"column":6},"action":"insert","lines":["*sqlite3","*env.py","__pycache__","*.png",".~C9*","static/","media/"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":6},"end":{"row":8,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1574526716545,"hash":"67022fb4c4ee7d22b96616a5694c44d3c8f2a3f6"}